{% extends "base.html.twig" %}
{% block body %}
    <div class="container-fluid">
    <form>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_widget(form.content, {'attr': {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.date) }}
            {{ form_errors(form.date) }}
            {{ form_widget(form.date) }}
        </div>
        {{ form_widget(form.save, {'attr':{class:'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </form>
{% endblock %}
