{% extends "base.html.twig" %}
{% block body %}
    {% include "nav/nav.twig" %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm">
                <form method="GET" class="form-inline my-2 my-lg-0 d-block search-bar">
                    <div class="input-group mb-3 ">
                        <input
                            type="search"
                            class="form-control"
                            placeholder="Key Word"
                            aria-label="Key Word"
                            name="keyWord"
                            value="{{ keyWord }}"
                        >
                        <div class="input-group-append">
                            <button
                                class="btn btn-outline-secondary"
                                type="submit"
                            >
                                Search
                            </button>
                        </div>
                        <div class="input-group-append">
                            <a
                                class="btn btn-outline-secondary"
                                href="{{ path('tasks') }}"
                            >
                                Clear
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm mb-3">
                <a
                    class="btn btn-primary float-md-right float-sm-left"
                    href="{{ path('new_task') }}"
                >
                    New Task
                </a>
            </div>
        </div>
        <div class="table-responsive-md">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Due Date</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Delivery Info</th>
                        <th>CT Access</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in pagination %}
                    <tr class="
                        {% if task.getType() == "device_roll_in" %}
                        table-danger
                        {% elseif task.getType() == "device_roll_out" %}
                        table-info
                        {% endif %}
                    ">
                        <td>
                            <a href="
                                {{ path(
                                    'edit_task',
                                    {'task':task.getId()}
                                ) }}
                            ">
                                {{ task.getDueDate() | date("m/d/y ") }}
                            </a>
                        </td>
                        <td>
                            {{ task.showTypeInText() }}
                        </td>
                        <td> {{ task.getContent() }} </td>
                        <td> {{ task.getDelivery() }} </td>
                        <td> {{ task.showHasCtAccess() }} </td>
                        <td> {{ task.getStatus() }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
