{% extends "base.html.twig" %}
{% block body %}
    {% include "nav/nav.twig" %}
    <div class="container-fluid">
    <form method="POST">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.planned_date) }}
            {{ form_errors(form.planned_date) }}
            {{ form_widget(form.planned_date, {'attr': {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type, {'attr': {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.detail) }}
            {{ form_errors(form.detail) }}
            {{ form_widget(form.detail, {'attr': {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.delivery_info) }}
            {{ form_errors(form.delivery_info) }}
            {{ form_widget(form.delivery_info, {'attr': {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.access) }}
            {{ form_errors(form.access) }}
            {{ form_widget(form.access, {'attr': {class: 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.site) }}
            {{ form_errors(form.site) }}
            {{ form_widget(form.site, {'attr': {class: 'form-control'} }) }}
        </div>
        <a
            class="btn btn-warning"
            href="{{ path('receivings') }}"
        >
            Cancel
        </a>

        {{ form_widget(form.status) }}
        {{ form_widget(form.save, {'attr':{class:'btn btn-primary float-right'}}) }}
        {{ form_end(form) }}
    </form>
    </div>
{% endblock %}
