{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        {{ form_start(form, {'attr': {class: 'form'}}) }}
        <div class="form-group">
            {{ form_label(form.location) }}
            {{ form_errors(form.location) }}
            {{ form_widget(form.location, {'attr': {class: 'form-control'} }) }}
        </div>
        {{ form_widget(form.save, {'attr':{class:'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
