{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        {{ form_start(form, {'attr': {class: 'form'}}) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {class: 'form-control'} }) }}
        </div>
        <a
            class="btn btn-warning"
            href="{{ path('manufacturers') }}"
        >
            Cancel
        </a>

        {{ form_widget(form.save, {'attr':{class:'btn btn-primary float-right'}}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
