{% extends "base.html.twig" %}
{% block body %}
    {% include "nav/nav.twig" %}
    <div class="container-fluid">
        <div>
            <form method="GET" class="form-inline my-2 my-lg-0">
                <input
                    class="form-control mr-sm-2"
                    type="search"
                    placeholder="Search"
                    aria-label="Search"
                    name="keyWord"
                    value="{{ keyWord }}"
                >
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
            <a
                class="btn btn-primary"
                href="{{ path('new_part') }}"
            >
                New Part
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Band</th>
                    <th>Model</th>
                    <th>Quantity</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for item in parts %}
                <tr>
                    <td class=""> {{ item.getModel().getManufacturer() }} </td>
                    <td>
                        <a href="
                            {{ path(
                                'edit_part',
                                {'part':item.getId()}
                            ) }}
                        ">
                            {{ item.getModel().getModel() }}
                        </a>
                    </td>
                    <td> {{ item.getAmount() }} </td>
                    <td> {{ item.getLocation() }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
